<%- include('../partials/header'); %>

<div class="container">
    <header class="jumbotron">
        <h2>Auctions</h2>
        <a class="btn btn-primary btn-lg" href="/auctions/new">create</a>
    </header>
</div>

<%- include('../partials/footer'); %>